html, body {
    height: 100%;
}

body {
    background: black url("../images/background.jpg");
    background-repeat: no-repeat;
    color: white;
}
#image-container {
}

.card {
    border-color: #444;
} 

.card-header {
    background: gray;
    color: white;
}

#image-container .card {
    text-align: center;
}

p.doggening {
    margin-top: 0.5em;
    margin-left: 0.5em;
    display: inline-block;
    background: black;
    color: white;
    padding: 6px 1em;
    margin-bottom: 0px;
    border-radius: 8px 8px 0 0;
    line-height: 2;
}

#add-thing-container {
    text-align: right;
}
#new-thing-box {
    /* width: 300px; */
    /* margin: 0.2em; */
    /* display: inline; */
    /* padding-top: 4px; */
    /* padding-bottom: 4px; */
}


div.doggening {
    width: 100%;
    background: black;
    min-height: 250px;
    padding-top: 1em;
}
.search-button {
    background-color: #DEF;
    border: #77C 1px solid;
}

.search-button:hover {
    background-color: #b9c6d4;
    border: #77C 1px solid;
}